fastapi
uvicorn
python-dotenv
redis
sqlalchemy
pandas
pydantic
pydantic_settings
psycopg2-binary
openai
google-genai
google-generativeai
pytest-mock
pytest
langchain-text-splitters
langchain_openai
langchain_classic
langchain_community
boto3
pgvector
sentence_transformers
PyMuPDF
python-docx